.contact {
  background: linear-gradient(rgba(210, 93, 220, 0.1), rgba(0, 0, 0, 0.4)),
    url("https://res.cloudinary.com/dhtgiy7ji/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1669256028/Alaska/sk8_1_1_rwk0j6.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.title-form {
  color: whitesmoke;
}

.text-description {
  color: whitesmoke;
}

.name-form {
  color: whitesmoke;
}

.nameform1 {
  padding-top: 1rem;
}

.tel-form {
  color: whitesmoke;
}

.telform1 {
  padding-top: 1rem;
}

.email-form {
  color: whitesmoke;
}

.emailform1 {
  padding-top: 1rem;
}

.form-form {
  color: whitesmoke;
}

.formform1 {
  padding-top: 1rem;
}

.btn-env {
  color: whitesmoke;
}
