.titlepruchase1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.title-purchase {
  color: whitesmoke;
}

.paragraph-purchase {
  color: whitesmoke;
}

.end-purchase-name {
  color: whitesmoke;
}

.endpurchasename {
  padding-top: 1rem;
}

.surname-form {
  color: whitesmoke;
}

.sunameform1 {
  padding-top: 1rem;
}

.tel-form {
  color: whitesmoke;
}

.telform1 {
  padding-top: 1rem;
}

.email-form-pruchase {
  color: whitesmoke;
}

.address-form {
  color: whitesmoke;
}

.emailform1 {
  padding-top: 1rem;
}

.adressform1 {
  padding-top: 1rem;
}
