.containerw1 {
  width: 40rem;
  height: 16rem;
  padding-right: 1rem;
}

.imagen1 {
  height: 15rem;
}

.card-title {
  font-size: x-large;
  text-transform: uppercase;
  font-weight: bold;
}

.containermain {
  padding-top: 2rem;
}
