.counter {
  align-self: center;
}

.count-num {
  align-self: center;
}

.container-demostracion {
  width: 50rem;
  height: auto;
  background-color: #f9f9f9;
}

.card-body {
  color: #7686fe;
}

.btn-agregar-carrito {
  width: 8rem;
}

.btn-volver-atras {
  width: 8rem;
}

.btn-suma-carrito {
  width: 4rem;
}

.btn-resta-carrito {
  width: 4rem;
}
