.cardItem {
  width: 25rem;
}

.info-card {
  align-self: center;
  color: #7686fe;
  background-color: #f9f9f9;
}

.card-img-col {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
